<% include partials/header %>
<div class="parallax-window" data-speed="0.7" data-parallax="scroll" data-image-src="/images/city.jpg">
  <div class="intro">
    <p class="introMain">Jax Tubbs</p>
    <p class="introP">A simplistic web designer</p>
  </div>
</div>
<div class="content">
  <div class="stuff">
    <div class="module mainContent">
        <p>Hi, my name is Jax. I am a web designer and developer based in sunny San Diego California. I love tacos, chocolate milk, my friends, and creating great looking websites for people.</p>
    </div>
    <div class="module mainContent">
        <p>I design, create, and host websites for people. The websites I design are all resposive meaning that the website will change to accommodate the screen size.</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/parallax.min.js"></script>
<script type="text/javascript" src="/scripts/homepage.js"></script>
<!-- <script type="text/javascript" src="/scripts/script.js"></script> -->
<% include partials/footer %>
