<% include partials/header %>
<div class="parallax-window" data-speed="0.7" data-parallax="scroll" data-image-src="/images/city.jpg">
  <div class="intro">
    <p class="introMain">Jax Tubbs</p>
    <p class="introP">A simplistic web designer</p>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="module mainContent col lg-12-nl md-12-nl sm-12-nl">
        <p>Hi, my name is Jax. I am a web designer and developer based in sunny San Diego California. I love tacos, chocolate milk, my friends, and creating great looking websites for people.</p>
    </div>
    <div class="module mainContent col lg-12-nl md-12-nl sm-12-nl">
        <p>I design, create, and host websites for people. The websites I design are all resposive meaning that the website will change to accommodate the screen size.</p>
    </div>
  </div>
  <div class="contentBox">
    <div class="container">
      <div class="col lg-12-nl md-12-nl sm-12-nl module red">
        <p class="contentBoxHeader">What do I do?</p>
        <p>I love creating websites and making people happy. Therefore, I can create and do everything, create the website, purchase the domain name ("www.YourComapany.com") if required, host the website accordingly based on traffic load, and more.</p>
      </div>
      <div class="col lg-12-nl md-12-nl sm-12-nl module blue link">
        <p><a href="/websites">Website Templates</a></p>
      </div>
      <div class="col lg-12-nl md-12-nl sm-12-nl module blue link">
        <p>Contact me at Jaxtubbs@gmail.com</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/parallax.min.js"></script>
<script type="text/javascript" src="/scripts/homepage.js"></script>
<% include partials/footer %>
