<% include partials/header %>
<div class="parallax-window" data-speed="0.7" data-parallax="scroll" data-image-src="/images/city.jpg">
  <div class="intro">
    <p class="introMain">Jax Tubbs</p>
    <p class="introP">A simple web designer</p>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="mainContent col lg-12-nl md-12-nl sm-12-nl blue link">
      <p>Look at my skills --> <a href="/websites">Website Templates</a></p>
    </div>
    <div class="mainContent col lg-12-nl md-12-nl sm-12-nl">
        <p>Hi, my name is Jax. I am a web designer/developer based in sunny San Diego California. I love tacos, chocolate milk, my friends, and creating great looking websites for people.</p>
    </div>
    <div class="mainContent col lg-12-nl md-12-nl sm-12-nl">
        <p>Designing websites is an artform. The websites I design are made by me and display my skills as a web designer and developer. My main focus of design is to make sure that the site incorporates responsive and bug free code.</p>
    </div>
  </div>
  <div class="contentBox">
    <div class="container">
      <div class="col lg-6-nl md-12-nl sm-12-nl red">
        <p class="contentBoxHeader">What will I do for you?</p>
        <ul>
          <li>Design and create your responsive website</li>
          <li>Domain name purchase and DNS setup</li>
          <li>Website hosting and maintenance</li>
          <li>Google Indexing</li>
          <li>Implement Google search optimizations</li>
          <li>Establish https secure connections</li>
          <li>Adjust host based on network traffic</li>
        </ul>
      </div>
      <div class="col lg-6 md-12-nl sm-12-nl red">
        <p>Building a website is a third what needs to be done in order to get your website up on the internet. Therefore I can and will purchase a domain name, setup all backend requirements, and host your website so you don't have to.</p>
      </div>
      <div class="col lg-6 md-12-nl sm-12-nl blue link">
        <p>Contact me at Jaxtubbs@gmail.com if you have any questions or are looking to hire.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/parallax.min.js"></script>
<script type="text/javascript" src="/scripts/homepage.js"></script>
<% include partials/footer %>
