<% include partials/header %>
  <div class="navBar primary-background white" id="navBar">
    <a href="/" class="main white secondary-background">Home</a>
    <a href="websites">Website Themes</a>
    <a href="contact">Contact</a>
    <div class="navIconButton" onclick="navIconClick()">
      <span class="navIconBar"></span>
      <span class="navIconBar"></span>
      <span class="navIconBar"></span>
    </div>
  </div>

  <div class="content primary-background" onclick="focusContent()">
    <div class="img1 white-background">
        <h1 class="jumboFont secondary textCenter">Jax Tubbs</h1>
    </div>
    <div class="container">
      <div class="col lg-12-nl md-12-nl sm-12-nl white max-lg">
          <h1>Me</h1>
          <p>I am from Sunny San Diego California and I am a web designer/developer. I try to make things as easy as possible for people by taking care of all the complicated hosting and backend intricacies as well as making a fantastic looking website.</p>
          <hr class="secondary">
          <h1>Goals</h1>
          <ol>
            <li>Make clean simple websites designed to impress</li>
            <li>Provide the highest quality work possible</li>
            <li>Be efficient</li>
            <li>Be productive</li>
          </ol>
          <hr class="secondary">
          <h1>Accomplished Goals</h1>
          <ul>
            <li>Post my portfolio for the world to see</li>
            <li>Design a portfolio</li>
            <li>Develop a server</li>
            <li>Design an efficient responsive grid framework designed for mobile</li>
            <li>Create my first website</li>
          </ul>
      </div>
    </div>
  </div>
  </div>
  <% include partials/footer %>
