<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Jax Tubbs Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/services.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
    <title>Services</title>
  </head>
  <body>
    <div class="navBar">
      <a class="navBarLogoText" href="/">JT</a>
      <div class="navBarToggle" onclick="navBar()">
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
      </div>
      <div class="navBarLinks" id="navBarLinks">
        <a href="/">Home</a>
        <a href="/websites">Websites</a>
        <a href="/contact">Contact</a>
        <a href="/services">Services</a>
      </div>
    </div>
    <div class="content">
      <h2 style="text-align: center; margin-top: 0;" >Services/Skills</h2>
      <div class="col lg-12-nl md-12-nl sm-12-nl themedContainer">
        <div class="accordian">
          <div class="accordianToggle" onclick="accordianToggle(this)">
            <p>Everything</p>
            <div class="accordianToggleAnimation">
              <div class="accordianToggleAnimationPart"></div>
              <div class="accordianToggleAnimationPart"></div>
            </div>
          </div>
          <div class="accordianContent">
            <p>I can create, design, manage everything. I would buy the domain name (www.yourcompany.com), design and create the website, host it, and perform any required changes that needed to be made once the website is operational. Me doing everything would incorporated all the services below.</p>
          </div>
        </div>
        <div class="accordian">
          <div class="accordianToggle" onclick="accordianToggle(this)">
            <p>Website Design/Creation</p>
            <div class="accordianToggleAnimation">
              <div class="accordianToggleAnimationPart"></div>
              <div class="accordianToggleAnimationPart"></div>
            </div>
          </div>
          <div class="accordianContent">
            <p>I can design high quality websites that use modern design techniques. Have a website that is responsive for mobile is necessary in today’s time. All the websites I create are adaptive for mobile and most other modern devices.</p>
          </div>
        </div>
        <div class="accordian">
          <div class="accordianToggle" onclick="accordianToggle(this)">
            <p>Secure Connection</p>
            <div class="accordianToggleAnimation">
              <div class="accordianToggleAnimationPart"></div>
              <div class="accordianToggleAnimationPart"></div>
            </div>
          </div>
          <div class="accordianContent">
            <p>Security is necessary when handling a user’s data therefore all my sites use https to establish a safe and secure connection with the user. Also search engines like to show a user https (secure) sites over http (not secure) sites.</p>
          </div>
        </div>
        <div class="accordian">
          <div class="accordianToggle" onclick="accordianToggle(this)">
            <p>Search Engine Optimizations</p>
            <div class="accordianToggleAnimation">
              <div class="accordianToggleAnimationPart"></div>
              <div class="accordianToggleAnimationPart"></div>
            </div>
          </div>
          <div class="accordianContent">
            <p>SEOs are influence a search engine like google to show your site first over another website. There are many factors that make a search engine prioritize a website and I use SEO practices such as keyword tags and descriptions.</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/services.js"></script>
  </body>
</html>
