<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Jax Tubbs' portfolio website.">
    <meta name="keywords" content="Jax,Tubbs,Jax Tubbs,portfolio,website,web, developer">
    <meta name="author" content="Jax Tubbs">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Jax Tubbs Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/websites.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
  </head>
  <body>
    <div class="navBar">
      <p>Website Templates</p>
    </div>
    <div class="content">
      <div class="container">
        <div class="col lg-4-nl md-6-nl sm-6-nl">
          <div class="text">
            <a href="/websites/business">Business</a>
          </div>
          <div class="img">
            <a href="/websites/business"><img src="/images/websiteBlank.jpg" alt=""></a>
          </div>
        </div>
        <div class="col lg-4 md-6 sm-6">
          <div class="text">
            <a href="#">Website</a>
          </div>
          <div class="img">
            <a href="#"><img src="/images/websiteBlank.jpg" alt=""></a>
          </div>
        </div>
        <div class="col lg-4 md-6-nl sm-6-nl">
          <div class="text">
            <a href="#">Website</a>
          </div>
          <div class="img">
            <a href="#"><img src="/images/websiteBlank.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
