<% include partials/header %>
  <div class="navBar primary-background white" id="navBar">
    <a href="/" class="main secondary-background white">Home</a>
    <a href="websites">Website Themes</a>
    <a href="contact">Contact</a>
    <div class="navIconButton" onclick="navIconClick()">
      <span class="navIconBar"></span>
      <span class="navIconBar"></span>
      <span class="navIconBar"></span>
    </div>
  </div>
  <div class="content" onclick="focusContent()">
    <div class="img1 white-background">
        <h1 class="jumboFont secondary textCenter">Websites</h1>
    </div>
    <div class="container">
      <div class="col lg-6-nl md-6-nl sm-6-nl thumbNailDiv">
        <a href="single-page" class="thumbNailLink secondary-background white">Single Page</a>
        <a href="single-page" class="thumbNail"><img src="images/onePage.jpg"></a>
      </div>
      <div class="col lg-6 md-6 sm-6 thumbNailDiv">
        <a href="parlax-photography" class="thumbNailLink secondary-background white">Paralax Photography</a>
        <a href="parlax-photography" class="thumbNail"><img src="images/parallax.jpg"></a>
      </div>
    </div>
  </div>
  <% include partials/footer %>
