<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Jax Tubbs Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/websites.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
  </head>
  <body>
    <div class="navBar">
      <a class="navBarLogoText" href="/">JT</a>
      <div class="navBarToggle" onclick="navBar()">
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
      </div>
      <div class="navBarLinks" id="navBarLinks">
        <a href="/">Home</a>
        <a href="/websites">Websites</a>
        <a href="/contact">Contact</a>
        <a href="/services">Services</a>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="col lg-12-nl md-12-nl sm-12-nl">
          <div class="info">
            <p>This page is Always a work in progress.</p>
          </div>
        </div>
        <div class="col lg-4-nl md-6-nl sm-6-nl">
          <div class="text">
            <a href="/websites/photography">Photography</a>
          </div>
          <div class="img">
            <a href="/websites/photography"><img src="/images/photography.png" alt=""></a>
          </div>
        </div>
        <div class="col lg-4 md-6 sm-6">
          <div class="text">
            <a href="/websites/homeDetail">Home Detail</a>
          </div>
          <div class="img">
            <a href="/websites/homeDetail"><img src="/images/homeDetail.jpg" alt=""></a>
          </div>
        </div>
        <div class="col lg-4 md-6-nl sm-6-nl">
          <div class="text">
            <a href="/websites/flower">Flowers</a>
          </div>
          <div class="img">
            <a href="/websites/flower"><img src="/images/flowerWebsite.jpg" alt=""></a>
          </div>
        </div>
        <div class="col lg-4-nl md-6 sm-6">
          <div class="text">
            <a href="/websites/glass">Glass</a>
          </div>
          <div class="img">
            <a href="/websites/glass"><img src="/images/glassWebstie.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/flower.js"></script>
  </body>
</html>
