body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #444;
  padding: 10px;
}
.button{
	padding: 8px;
	color: white;
	background-color: #444;
}
.buttom p{
	margin: 0;
}