body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

.bold{
  font-weight: bold;
}
/* Regular Stuff */
.content{
  padding-top: 52px;
}
/* Color Stuff */
.primary{
  color: #f64c4d;
}
.secondary{
  color: #455259;
}
.primary-background{
  background-color: #f64c4d;
}
.secondary-background{
  background-color: #455259;
}
.white{
  color: white;
}
.white-background{
  background-color: white;
}
.black{
  color: black;
}
.black-background{
  background-color: black;
}
/* NavBar style 1 Stuff */
.navBar{
  z-index: 2;
  font-size: 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow:0px 2px 5px rgba(0,0,0,0.2);
  background-color: #455259;
  color: white;
}
.navBar a.main{
  background-color:  #f64c4d;
}
.navBar a{
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: inherit;
}
.navBar a:hover{
  color: #000;
  background-color: #fff;
}
.navBar a.main:hover{
  background-color: #fff;
}
.navIcon{
  width: 50px;
  height: 52px;
  display: none;
  cursor: pointer;
}
.navIconBar{
  width: 25px;
  height: 1px;
  background-color: white;
  margin: 7px 12.5px;
  transition: 0.2s;
}
.navIconBar:nth-child(1){
  margin-top: 17px;
}
.navIconBarActive .navIconBar:nth-child(1){
  -webkit-transform: rotate(-45deg) translate(0, 0);
  transform: rotate(45deg) translate(6px,5px);
}
.navIconBarActive .navIconBar:nth-child(2){
  opacity: 0;
}
.navIconBarActive .navIconBar:nth-child(3){
  -webkit-transform: rotate(50deg) translate(0,0);
  transform: rotate(-45deg) translate(6px, -5px);
}
.navBarSlideIn{
  transition: 0.2s;
  font-size: 20px;
  overflow: hidden;
  position: fixed;
  top: -52px;
  width: 100%;
  background-color: #455259;
}
.navBarSlideIn a{
  text-decoration: none;
  padding: 14px 16px;
  color: white;
  display: block;
}
.navBarSlideIn a:hover{
  background-color: white;
  color: black;
}
@media (max-width: 576px) {
  div[class*="col"]{
    width: 100%;
    margin-left: 0px;
  }
  .navBarSlideIn.navBarSlideInActive{
    top: 52px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.2);
  }
  .navBar.responsive{
    box-shadow: none;
  }
  .navBar a:not(.main) {
    display: none;
  }
  .navBar .navIcon {
    float: right;
    display: inline-block;
  }
  .navBar.responsive .navIcon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .navBar.responsive a.main{
    float: none;
    display: block;
    text-align: left;
  }
}
