html, body{
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
/* div p:first-child, div h2:first-child,div h3:first-child{
  margin-top: 0;
} */
.navbar{
  z-index: 10;
  height: 100vh;
  width: 60px;
  position: fixed;
  left: 0;
  background-color: #A46637;
  color: white;
  font-size: 22px;
  /* overflow: visible; */
}
.navBarLinkContainer{
  overflow: visible;
  display: block;
  position: relative;
  height: 60px;
}
.navbarLinkMod{
  width: 60px;
  height: 60px;
  background-color: #A46637;
  display: block;
  position: relative;
  line-height: 60px;
  color: white;
  text-decoration: none;
  text-align: center;
  z-index: 10;
  box-sizing: border-box;
  border-right: 0px solid #16a5f9;
}
.navBarLinkContainer p{
  position: absolute;
  top: 50%;
  margin: 0px;
  transform: translate(0,-50%);
  padding: 5px;
  border-radius: 3px;
  background-color: #A46637;
  font-size: 16px;
  z-index: 5;
  display: none;
  line-height: normal;
}
.material-icons{
  line-height: 60px;
}
.navBarLinkContainer:nth-child(1){
  top: calc(100vh);
}
.navBarLinkContainer:nth-child(2){
  top: calc(100vh - 60px);
}
.navBarLinkContainer:nth-child(3){
  top: calc(100vh - 120px);
}
.navBarLinkContainer:nth-child(4){
  top: calc(100vh - 180px);
}
.navBarLinkContainer:nth-child(5){
  top: calc(100vh - 240px);
}
.navBarLinkContainer:nth-child(6){
  top: calc(100vh - 300px);
}
.navBarLinkContainer:nth-child(7){
  top: calc(100vh - 360px);
}
/* CONTENT STUFF */

.content{
  margin-left: 60px;
  position: relative;
}
.intro{
  height: 100vh;
  width: 100%;
  background-image: url("/images/coffee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}
.introText{
  padding: 10px;
  margin: 0 auto;
  margin-top: 41vh;
  color: white;
  font-size: 40px;
  z-index: 1;
  background: inherit;
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 8px;
}
.introText::before{
  z-index: -1;
  width: 150%;
  height: 150%;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.16);
  filter: blur(3px);
}
.introText p{
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.introText p:first-child{
  padding-bottom: 20px;
}
.introText p::before{
    position: absolute;
    width: 0px;
    height: 5px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    transition: 0.9s;
}
.introScrollDownAnimation{
  position: absolute;
  width: 40px;
  height: 45px;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%,0);
  opacity: 0;
}
.introScrollDiv{
  width: 40px;
  height: 3px;
  position: absolute;
  background-color: white;
  display: inline-block;
}
.introScrollDiv:nth-child(1){
  -webkit-transform: rotate(50deg) translate(0,0);
  transform: translate(14px,0) rotate(-45deg);
}
.introScrollDiv:nth-child(even){
  -webkit-transform: rotate(50deg) translate(0,0);
  transform: translate(-13px,0)  rotate(45deg);
}

/* CONTENT STUFF */
.paralaxInfo{
  background-image: url("/images/coffee2.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.realContentBackground{
  background-image: url("/images/coffee3.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.textBox{
  background-color: white;
  overflow: hidden;
  position: relative;
  top: 50%;
  width: 78%;
  margin: 0 auto;
  transform: translate(0,-50%);
  padding: 15px;
  font-size: 20px;
}
.peopleQuotes{
  overflow: hidden;
}
.textPiece{
  background-color: white;
  padding: 10px;
  margin-bottom: 2.5%;
}
.realContent .textPieces, .peopleQuotes{
  margin-top: 2.5%;
}

.faceBox{
  padding: 10px;
  background-color: white;
  margin-bottom: 2.5%;
  overflow: hidden;
}
#face1{
  background-image: url("/images/face1.jpg");
}
#face2{
  background-image: url("/images/face2.jpg");
}
#face3{
  background-image: url("/images/face3.jpg");
}
.faceBoxImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: inherit
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-right: 10px;
}
.faceBox p {
  float: left;
  width: calc(100% - 110px);
  text-align: center;
  margin-bottom: 0;
}
.faceBox p:nth-child(3){
  margin-top: 0;
}
.lastNoMarginBot{
  margin-bottom: 0;
}
.mobileNavBar{
  display: none;
  position: fixed;
  width: 40%;
  height: 100vh;
  left: -40%;
  background-color: #a46637;
}
.mobileNavBarToggle{
  display: none;
  position: fixed;
}
.container{
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow: hidden;
}
.col{
    float: left;
    margin-left: 4%;
    margin-bottom: 2.5%;
    box-sizing: border-box;
}
@media only screen and (min-width: 993px){
  .introText{
    width: 25%;
  }
  .lg-1 {width: 4.66666%;}
  .lg-2 {width: 13.33333%;}
  .lg-3 {width: 22%;}
  .lg-4 {width: 30.66666%;}
  .lg-5 {width: 39.33333%;}
  .lg-6 {width: 48%;}
  .lg-7 {width: 56.66666%;}
  .lg-8 {width: 65.33333%;}
  .lg-9 {width: 74%;}
  .lg-10 {width: 82.66666%;}
  .lg-11 {width: 91.33333%;}
  .lg-12 {width: 100%;}
  .lg-1-nl {width: 4.66666%; margin-left: 0px;}
  .lg-2-nl {width: 13.33333%; margin-left: 0px;}
  .lg-3-nl {width: 22%; margin-left: 0px;}
  .lg-4-nl {width: 30.66666%; margin-left: 0px;}
  .lg-5-nl {width: 39.33333%; margin-left: 0px;}
  .lg-6-nl {width: 48%; margin-left: 0px;}
  .lg-7-nl {width: 56.66666%; margin-left: 0px;}
  .lg-8-nl {width: 65.33333%; margin-left: 0px;}
  .lg-9-nl {width: 74%; margin-left: 0px;}
  .lg-10-nl {width: 82.66666%; margin-left: 0px;}
  .lg-11-nl {width: 91.33333%; margin-left: 0px;}
  .lg-12-nl {width: 100%;  margin-left: 0px;}
}
@media only screen and (max-width: 993px) and (min-width: 768px) {
  .introText{
    width: 35%;
  }
  .md-1 {width: 4.66666%;}
  .md-2 {width: 13.33333%;}
  .md-3 {width: 22%;}
  .md-4 {width: 30.66666%;}
  .md-5 {width: 39.33333%;}
  .md-6 {width: 48%;}
  .md-7 {width: 56.66666%;}
  .md-8 {width: 65.33333%;}
  .md-9 {width: 74%;}
  .md-10 {width: 82.66666%;}
  .md-11 {width: 91.33333%;}
  .md-12 {width: 100%;}

  .md-1-nl {width: 4.66666%; margin-left: 0px;}
  .md-2-nl {width: 13.33333%; margin-left: 0px;}
  .md-3-nl {width: 22%; margin-left: 0px;}
  .md-4-nl {width: 30.66666%; margin-left: 0px;}
  .md-5-nl {width: 39.33333%; margin-left: 0px;}
  .md-6-nl {width: 48%; margin-left: 0px;}
  .md-7-nl {width: 56.66666%; margin-left: 0px;}
  .md-8-nl {width: 65.33333%; margin-left: 0px;}
  .md-9-nl {width: 74%; margin-left: 0px;}
  .md-10-nl {width: 82.66666%; margin-left: 0px;}
  .md-11-nl {width: 91.33333%; margin-left: 0px;}
  .md-12-nl {width: 100%; margin-left: 0%;}
}
@media only screen and (max-width: 768px ) and (min-width: 577px) {
  .introText{
    width: 50%;
  }
  .navbar{
    display: none;
  }
  .content{
    margin: 0px;
  }
  .textBox{
    font-size: 18px;
  }
  .sm-1 {width: 4.66666%;}
  .sm-2 {width: 13.33333%;}
  .sm-3 {width: 22%;}
  .sm-4 {width: 30.66666%;}
  .sm-5 {width: 39.33333%;}
  .sm-6 {width: 48%;}
  .sm-7 {width: 56.66666%;}
  .sm-8 {width: 65.33333%;}
  .sm-9 {width: 74%;}
  .sm-10 {width: 82.66666%;}
  .sm-11 {width: 91.33333%;}
  .sm-12 {width: 100%;}

  .sm-1-nl {width: 4.66666%; margin-left: 0px;}
  .sm-2-nl {width: 13.33333%; margin-left: 0px;}
  .sm-3-nl {width: 22%; margin-left: 0px;}
  .sm-4-nl {width: 30.66666%; margin-left: 0px;}
  .sm-5-nl {width: 39.33333%; margin-left: 0px;}
  .sm-6-nl {width: 48%; margin-left: 0px;}
  .sm-7-nl {width: 56.66666%; margin-left: 0px;}
  .sm-8-nl {width: 65.33333%; margin-left: 0px;}
  .sm-9-nl {width: 74%; margin-left: 0px;}
  .sm-10-nl {width: 82.66666%; margin-left: 0px;}
  .sm-11-nl {width: 91.33333%; margin-left: 0px;}
  .sm-12-nl {width: 100%; margin-left: 0px;}
}
@media only screen and (max-width: 577px) {
  div[class*="col"]{
    width: 100%;
    margin-left: 0px;
  }
  .intro, .paralaxInfo, .realContentBackground{
    background-attachment: local;
  }
  .peopleQuotes{
    margin-top: 0;
  }
  .introText{
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .navbar{
    display: none;
  }
  .content{
    margin: 0px;
  }
  .textBox{
    font-size: 16px;
  }
  .mobileNavBarToggle{
    display: block;
    width: 100%;
    height: 44px;
    background-color: white;
    bottom: 0px;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
  }
  .mobileNavBarToggleDiv{
    box-sizing: border-box;
    float: right;
    padding: 12px 15px;
    padding-top: 13px;
    cursor: pointer;
  }
  .mobileNavBarTogglePart{
    height: 1px;
    background-color: #A46637;
    width: 25px;
  }
  .mobileNavBarTogglePart:nth-child(1){
    margin-bottom: 8px;
  }
  .mobileNavBarTogglePart:nth-child(2){
    margin-bottom: 8px;
  }
  .mobileNavBarTogglePart:nth-child(3){
  }
  .mobileNavBar.active{
    z-index: 99;
  }
  .mobileNavBar a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    display: block;
    background-color: #a46637;
    padding: 12px 16px;
    text-align: center;
  }
  .mobileNavBar a:hover{
    border-bottom: 2px white solid;
  }
}
