html,body{
  height: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
  background-color: #212121;
  color: #ddd;
  overflow: hidden;
  position: relative;
  font-size: 16px;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 300;
  margin: 0;
}
p{
  margin: 0;
}
hr{
  border: solid white 1px;
}
ul{
  list-style-type: none;
  padding: 0px;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#intro{
  display: none;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#content{
  display: none;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  opacity: 0;
  padding-top: 10px;
}
#nem{
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  display: none;
}
#systemCompute{
  background-color: #666;
  border-radius: 4px;
  padding: 4px
}
#systemComputeWork{
  height: 135px;
  background-color: #555;
  border-radius: 4px 0 0 4px;
  width: 135px;
  float: left;
  cursor: pointer;
}
.systemComputeWorkMod{
  float: left;
  height: 61.5px;
  width: 61.5px;
  margin-top: 4px;
  margin-left: 4px;
  border-radius: 4px;
  background-color: #f64c4d;
  cursor: pointer;
}
#systemComputeCompleteP{
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  background-color: #555;
  width: calc(100% - 135px);
  height: 135px;
  float: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
}
#systemComputeComplete{
  background-color: #f64c4d;
  float: left;
  width: 100%;
  height: 127px;
  border-radius: 4px;
}
#computeInstanceMod{
  height: 164px;
  /* display: none; */
  background-color: #666;
  border-radius: 4px;
  padding: 4px;
}
#computeInstancePurchase{
  height: 156px;
  border-radius: 4px;
  background-color: #555;
  width: 90px;
  float: right;
  text-align: center;
}
#computeInstancePrice{
  margin-top: 60px;
}
#computeInstanceDivs{
  margin-right: 4px;
  border-radius: 4px;
  background-color: #555;
  float: right;
  width: calc(100% - 94px);
  height: 156px;
}
.computeInstance{
  float: left;
  display: none;
  background-color: #333;
  height: 35.25px;
  border-radius: 2px;
  margin-left: 3px;
  margin-top: 3px;
}
.shop{
  padding: 4px;
  background-color: #888;
  border-radius: 4px;
  cursor: pointer;
}
.shopItem p{
  float: left;
  background-color: #f64c4c;
  padding: 4px;
  border-radius: 4px 0 0 4px;
}
.shopItem p.shopItemLabelf:active{
  background-color: #d62c2c;
}
.shopItem .shopItemPrice{
  background-color: #555;
  border-radius: 0 4px 4px 0;
  /* color: #212121; */
}
.shopItem {
  display: block;
  overflow: hidden;
}

#research{
  height: 164px;
  background-color: #666;
  border-radius: 4px;
  padding: 4px;
}
#researchInnerDiv{
  background-color: #444;
  width: 100%;
  height: 156px;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
}
#researchList{
  width: calc(100% - 42px);
  height: 148px;
  background-color: #292929;
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  float: left;
}
.researchLI{
  background-color: #f64c4d;
  border-radius: 4px;
  margin-bottom: 3px;
  padding: 4px;
  cursor: pointer;
}
.resourceBox{
  border-radius: 4px;
  padding: 8px;
  background-color: #555;
}
#researchPower{
  float: left;
  height: 148px;
  border-radius: 4px;
  width: 38px;
  background-color: #4cf64d;
  margin-left: 4px;
  cursor: pointer;
}
.container{
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow: hidden;
}
.col{
    float: left;
    margin-left: 4%;
    margin-bottom: 2.5%;
    box-sizing: border-box;
}
@media (min-width: 993px){
  .lg-1 {width: 4.66666%;}
  .lg-2 {width: 13.33333%;}
  .lg-3 {width: 22%;}
  .lg-4 {width: 30.66666%;}
  .lg-5 {width: 39.33333%;}
  .lg-6 {width: 48%;}
  .lg-7 {width: 56.66666%;}
  .lg-8 {width: 65.33333%;}
  .lg-9 {width: 74%;}
  .lg-10 {width: 82.66666%;}
  .lg-11 {width: 91.33333%;}
  .lg-12 {width: 100%;}
  .lg-1-nl {width: 4.66666%; margin-left: 0px;}
  .lg-2-nl {width: 13.33333%; margin-left: 0px;}
  .lg-3-nl {width: 22%; margin-left: 0px;}
  .lg-4-nl {width: 30.66666%; margin-left: 0px;}
  .lg-5-nl {width: 39.33333%; margin-left: 0px;}
  .lg-6-nl {width: 48%; margin-left: 0px;}
  .lg-7-nl {width: 56.66666%; margin-left: 0px;}
  .lg-8-nl {width: 65.33333%; margin-left: 0px;}
  .lg-9-nl {width: 74%; margin-left: 0px;}
  .lg-10-nl {width: 82.66666%; margin-left: 0px;}
  .lg-11-nl {width: 91.33333%; margin-left: 0px;}
  .lg-12-nl {width: 100%;  margin-left: 0px;}
}
@media (max-width: 992px) and (min-width: 768px) {
  .md-1 {width: 4.66666%;}
  .md-2 {width: 13.33333%;}
  .md-3 {width: 22%;}
  .md-4 {width: 30.66666%;}
  .md-5 {width: 39.33333%;}
  .md-6 {width: 48%;}
  .md-7 {width: 56.66666%;}
  .md-8 {width: 65.33333%;}
  .md-9 {width: 74%;}
  .md-10 {width: 82.66666%;}
  .md-11 {width: 91.33333%;}
  .md-12 {width: 100%;}

  .md-1-nl {width: 4.66666%; margin-left: 0px;}
  .md-2-nl {width: 13.33333%; margin-left: 0px;}
  .md-3-nl {width: 22%; margin-left: 0px;}
  .md-4-nl {width: 30.66666%; margin-left: 0px;}
  .md-5-nl {width: 39.33333%; margin-left: 0px;}
  .md-6-nl {width: 48%; margin-left: 0px;}
  .md-7-nl {width: 56.66666%; margin-left: 0px;}
  .md-8-nl {width: 65.33333%; margin-left: 0px;}
  .md-9-nl {width: 74%; margin-left: 0px;}
  .md-10-nl {width: 82.66666%; margin-left: 0px;}
  .md-11-nl {width: 91.33333%; margin-left: 0px;}
  .md-12-nl {width: 100%; margin-left: 0%;}
}
@media (max-width: 768px ) and (min-width: 576px) {
  .sm-1 {width: 4.66666%;}
  .sm-2 {width: 13.33333%;}
  .sm-3 {width: 22%;}
  .sm-4 {width: 30.66666%;}
  .sm-5 {width: 39.33333%;}
  .sm-6 {width: 48%;}
  .sm-7 {width: 56.66666%;}
  .sm-8 {width: 65.33333%;}
  .sm-9 {width: 74%;}
  .sm-10 {width: 82.66666%;}
  .sm-11 {width: 91.33333%;}
  .sm-12 {width: 100%;}

  .sm-1-nl {width: 4.66666%; margin-left: 0px;}
  .sm-2-nl {width: 13.33333%; margin-left: 0px;}
  .sm-3-nl {width: 22%; margin-left: 0px;}
  .sm-4-nl {width: 30.66666%; margin-left: 0px;}
  .sm-5-nl {width: 39.33333%; margin-left: 0px;}
  .sm-6-nl {width: 48%; margin-left: 0px;}
  .sm-7-nl {width: 56.66666%; margin-left: 0px;}
  .sm-8-nl {width: 65.33333%; margin-left: 0px;}
  .sm-9-nl {width: 74%; margin-left: 0px;}
  .sm-10-nl {width: 82.66666%; margin-left: 0px;}
  .sm-11-nl {width: 91.33333%; margin-left: 0px;}
  .sm-12-nl {width: 100%; margin-left: 0px;}
}
@media (max-width: 576px) {
  div[class*="col"]{
    width: 100%;
    margin-left: 0px;
  }
  body{
    font-size: 14px;
  }
  #intro{
    font-size: 9px;
  }
}
