html,body{
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.form{
  display: block;
  overflow: hidden;
}
form{
  /* box-shadow:  */
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  width: 80%;
  margin: 0 10%;
  top: 72px;
  background-color: #f64c4d;
}
input{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  padding: 6px;
  box-sizing: border-box;
}
textarea{
  box-sizing: border-box;
  border: none;
  padding: 5px;
  outline: none;
  width: 100%;
  resize: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.btn p{
  margin: 0px;
}
.btn {
  cursor: pointer;
  width: 100%;
  background-color: #16a5f9;
  color: white;
  text-align: center;
  padding: 7px 0;
  font-family: 'Roboto', sans-serif;
  margin-top: 14px;
}
.btn:active{
  background-color: #0085e9;
}
label{
  color: white;
  display: block;
  padding: 14px 0px;
}
.content{
  /* margin-top: 52px; */
}
.navBar {
  background-color: #fff;
  width: 100%;
  font-size: 20px;
  padding: 15px 10%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.8s opacity, box-shadow 0.3s;
}
.navBarLogoText{
  display: none;
}
.navBar a{
  text-decoration: none;
  color: #444;
  letter-spacing: 1px;
  margin: 0 10px;
  position: relative;
}
.navBar a:first-child{
  margin-left: 0;
}
.navBar a::before{
  content: "";
  border-top: 2px solid #f9585a;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: 0.25s;
}
.navBar a:hover::before{
  width: 100%;
}
.container{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.col{
    float: left;
    margin-left: 4%;
    margin-bottom: 2.5%;
    box-sizing: border-box;
}
@media (min-width: 993px){
  body{
    font-size: 18px;
  }
  .lg-1 {width: 4.66666%;}
  .lg-2 {width: 13.33333%;}
  .lg-3 {width: 22%;}
  .lg-4 {width: 30.66666%;}
  .lg-5 {width: 39.33333%;}
  .lg-6 {width: 48%;}
  .lg-7 {width: 56.66666%;}
  .lg-8 {width: 65.33333%;}
  .lg-9 {width: 74%;}
  .lg-10 {width: 82.66666%;}
  .lg-11 {width: 91.33333%;}
  .lg-12 {width: 100%;}
  .lg-1-nl {width: 4.66666%; margin-left: 0px;}
  .lg-2-nl {width: 13.33333%; margin-left: 0px;}
  .lg-3-nl {width: 22%; margin-left: 0px;}
  .lg-4-nl {width: 30.66666%; margin-left: 0px;}
  .lg-5-nl {width: 39.33333%; margin-left: 0px;}
  .lg-6-nl {width: 48%; margin-left: 0px;}
  .lg-7-nl {width: 56.66666%; margin-left: 0px;}
  .lg-8-nl {width: 65.33333%; margin-left: 0px;}
  .lg-9-nl {width: 74%; margin-left: 0px;}
  .lg-10-nl {width: 82.66666%; margin-left: 0px;}
  .lg-11-nl {width: 91.33333%; margin-left: 0px;}
  .lg-12-nl {width: 100%;  margin-left: 0px;}
}
@media (max-width: 992px) and (min-width: 769px) {
  body{
    font-size: 18px;
  }
  .md-1 {width: 4.66666%;}
  .md-2 {width: 13.33333%;}
  .md-3 {width: 22%;}
  .md-4 {width: 30.66666%;}
  .md-5 {width: 39.33333%;}
  .md-6 {width: 48%;}
  .md-7 {width: 56.66666%;}
  .md-8 {width: 65.33333%;}
  .md-9 {width: 74%;}
  .md-10 {width: 82.66666%;}
  .md-11 {width: 91.33333%;}
  .md-12 {width: 100%;}

  .md-1-nl {width: 4.66666%; margin-left: 0px;}
  .md-2-nl {width: 13.33333%; margin-left: 0px;}
  .md-3-nl {width: 22%; margin-left: 0px;}
  .md-4-nl {width: 30.66666%; margin-left: 0px;}
  .md-5-nl {width: 39.33333%; margin-left: 0px;}
  .md-6-nl {width: 48%; margin-left: 0px;}
  .md-7-nl {width: 56.66666%; margin-left: 0px;}
  .md-8-nl {width: 65.33333%; margin-left: 0px;}
  .md-9-nl {width: 74%; margin-left: 0px;}
  .md-10-nl {width: 82.66666%; margin-left: 0px;}
  .md-11-nl {width: 91.33333%; margin-left: 0px;}
  .md-12-nl {width: 100%; margin-left: 0%;}
}
@media (max-width: 768px ) and (min-width: 577px) {
  body{
    font-size: 17px;
  }
  .sm-1 {width: 4.66666%;}
  .sm-2 {width: 13.33333%;}
  .sm-3 {width: 22%;}
  .sm-4 {width: 30.66666%;}
  .sm-5 {width: 39.33333%;}
  .sm-6 {width: 48%;}
  .sm-7 {width: 56.66666%;}
  .sm-8 {width: 65.33333%;}
  .sm-9 {width: 74%;}
  .sm-10 {width: 82.66666%;}
  .sm-11 {width: 91.33333%;}
  .sm-12 {width: 100%;}

  .sm-1-nl {width: 4.66666%; margin-left: 0px;}
  .sm-2-nl {width: 13.33333%; margin-left: 0px;}
  .sm-3-nl {width: 22%; margin-left: 0px;}
  .sm-4-nl {width: 30.66666%; margin-left: 0px;}
  .sm-5-nl {width: 39.33333%; margin-left: 0px;}
  .sm-6-nl {width: 48%; margin-left: 0px;}
  .sm-7-nl {width: 56.66666%; margin-left: 0px;}
  .sm-8-nl {width: 65.33333%; margin-left: 0px;}
  .sm-9-nl {width: 74%; margin-left: 0px;}
  .sm-10-nl {width: 82.66666%; margin-left: 0px;}
  .sm-11-nl {width: 91.33333%; margin-left: 0px;}
  .sm-12-nl {width: 100%; margin-left: 0px;}
}
@media (max-width: 576px) {
  input{
    font-size: 16px;
  }
  form{
    border-radius: 6px;
    top: 72px;
    margin: 0 2.5%;
    width: 95%;
  }
  textarea{
    font-size: 16px;
  }
  div[class*="col"]{
    width: 100%;
    margin-left: 0px;
  }
  .navBar{
    padding: 0;
  }
  .navBar.active{
    transition: box-shadow 0s;
    box-shadow: 0 0 4px #666;
  }
  .navBar .navBarLinks{
    max-height: 0;
    overflow: hidden;
    float: left;
    width: 100%;
    transition: 0.3s;
  }
  .navBar a{
    display: block;
    line-height: 45px;
    width: 100vw;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 2.5%;
  }
  .navBar a::before{
    border: none;
  }
  .navBar .navBarLogoText{
    display: block;
    line-height: 50px;
    float: left;
    font-size: 27px;
    width: calc(100% - 45px);
    padding-left: 2.5%;
    box-sizing:border-box;
    line-height: 50px;
  }
  .navBarToggle{
    height: 50px;
    width: 45px;
    float: left;
    padding: 15.5px 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .navBarTogglePart{
    background-color: #444;
    width: 25px;
    height: 1px;
    position: relative;
    transition: 0.3s;
  }
  .navBarTogglePart:nth-child(1){
    margin-bottom: 8px;
  }
  .navBarTogglePart:nth-child(2){
    margin-bottom: 8px;
  }
  .navBarToggle.active .navBarTogglePart:nth-child(1){
    -webkit-transform: translate(0,9px) rotate(-135deg);
    transform: translate(0,9px) rotate(-135deg);
  }
  .navBarToggle.active .navBarTogglePart:nth-child(2){
    -webkit-transform: translate(35px, 0);
    transform: translate(35px,0)
  }
  .navBarToggle.active .navBarTogglePart:nth-child(3){
    -webkit-transform:  translate(0,-9px) rotate(135deg);
    transform: translate(0,-9px) rotate(135deg);
  }
}
