body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 300;
}
hr{
  border: solid 1px #333;
}
/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
.themedContainer{
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 0 7px #bbb;
}
.navBar {
  background-color: #fff;
  width: 100%;
  font-size: 20px;
  padding: 15px 20%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.8s opacity, box-shadow 0.3s;
}
.navBar.scrolled{
  box-shadow: 0 0 4px #666;
}
.navBarLogoText{
  display: none;
}
.navBar a{
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  margin: 0 10px;
  position: relative;
}
.navBar a:first-child{
  margin-left: 0;
}
.navBar a::before{
  content: "";
  border-top: 2px solid #f64c4d;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: 0.25s;
}
.navBar a:hover::before{
  width: 100%;
}
.accordian .accordianToggle{
  width: 100%;
  background-color: #f7f7f7f7;
  /* background-color: #444; */
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 5;
  position: relative;
}
.accordian .accordianToggle p{
  margin: 0;
  color: #212121;
  display: inline-block;
}
.accordianContent{
  background-color: #fff;
  border: #f7f7f7 0px solid;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s ;
  padding: 0 8px;
  z-index: 4;
}
.accordianToggleAnimation{
  width: 18px;
  height: 18px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0,-50%);
}
.accordianToggleAnimationPart{
  width: 15px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #212121;
  transform: translate(-50%,-50%);
  transition: 0.25s;
}
.accordianToggleAnimationPart:nth-child(1){
  transform: translate(-7.5px,0) rotate(90deg);
}
.accordianToggle.active .accordianToggleAnimationPart:nth-child(1){
  transform: translate(-50%,-50%);
}
.content {
  padding: 0 20%;
  padding-top: calc(54px + 2.5%);
  overflow: hidden;
}
.container{
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.col{
  float: left;
  margin-left: 4%;
  margin-bottom: 2.5%;
  box-sizing: border-box;
}
.noMarginBottom{
  margin-bottom: 0;
}
@media (min-width: 993px){
  .lg-1 {width: 4.66666%;}
  .lg-2 {width: 13.33333%;}
  .lg-3 {width: 22%;}
  .lg-4 {width: 30.66666%;}
  .lg-5 {width: 39.33333%;}
  .lg-6 {width: 48%;}
  .lg-7 {width: 56.66666%;}
  .lg-8 {width: 65.33333%;}
  .lg-9 {width: 74%;}
  .lg-10 {width: 82.66666%;}
  .lg-11 {width: 91.33333%;}
  .lg-12 {width: 100%;}

  .lg-1-nl {width: 4.66666%; margin-left: 0px;}
  .lg-2-nl {width: 13.33333%; margin-left: 0px;}
  .lg-3-nl {width: 22%; margin-left: 0px;}
  .lg-4-nl {width: 30.66666%; margin-left: 0px;}
  .lg-5-nl {width: 39.33333%; margin-left: 0px;}
  .lg-6-nl {width: 48%; margin-left: 0px;}
  .lg-7-nl {width: 56.66666%; margin-left: 0px;}
  .lg-8-nl {width: 65.33333%; margin-left: 0px;}
  .lg-9-nl {width: 74%; margin-left: 0px;}
  .lg-10-nl {width: 82.66666%; margin-left: 0px;}
  .lg-11-nl {width: 91.33333%; margin-left: 0px;}
  .lg-12-nl {width: 100%;  margin-left: 0px;}
}

@media (max-width: 992px) and (min-width: 768px) {
  .md-1 {width: 4.66666%;}
  .md-2 {width: 13.33333%;}
  .md-3 {width: 22%;}
  .md-4 {width: 30.66666%;}
  .md-5 {width: 39.33333%;}
  .md-6 {width: 48%;}
  .md-7 {width: 56.66666%;}
  .md-8 {width: 65.33333%;}
  .md-9 {width: 74%;}
  .md-10 {width: 82.66666%;}
  .md-11 {width: 91.33333%;}
  .md-12 {width: 100%;}

  .md-1-nl {width: 4.66666%; margin-left: 0px;}
  .md-2-nl {width: 13.33333%; margin-left: 0px;}
  .md-3-nl {width: 22%; margin-left: 0px;}
  .md-4-nl {width: 30.66666%; margin-left: 0px;}
  .md-5-nl {width: 39.33333%; margin-left: 0px;}
  .md-6-nl {width: 48%; margin-left: 0px;}
  .md-7-nl {width: 56.66666%; margin-left: 0px;}
  .md-8-nl {width: 65.33333%; margin-left: 0px;}
  .md-9-nl {width: 74%; margin-left: 0px;}
  .md-10-nl {width: 82.66666%; margin-left: 0px;}
  .md-11-nl {width: 91.33333%; margin-left: 0px;}
  .md-12-nl {width: 100%; margin-left: 0%;}
}

@media (max-width: 768px ) and (min-width: 576px) {
  .navBar{
    padding: 15px 10%;
  }
  .content{
    padding-left: 10%;
    padding-right: 10%;
  }
  .sm-1 {width: 4.66666%;}
  .sm-2 {width: 13.33333%;}
  .sm-3 {width: 22%;}
  .sm-4 {width: 30.66666%;}
  .sm-5 {width: 39.33333%;}
  .sm-6 {width: 48%;}
  .sm-7 {width: 56.66666%;}
  .sm-8 {width: 65.33333%;}
  .sm-9 {width: 74%;}
  .sm-10 {width: 82.66666%;}
  .sm-11 {width: 91.33333%;}
  .sm-12 {width: 100%;}

  .sm-1-nl {width: 4.66666%; margin-left: 0px;}
  .sm-2-nl {width: 13.33333%; margin-left: 0px;}
  .sm-3-nl {width: 22%; margin-left: 0px;}
  .sm-4-nl {width: 30.66666%; margin-left: 0px;}
  .sm-5-nl {width: 39.33333%; margin-left: 0px;}
  .sm-6-nl {width: 48%; margin-left: 0px;}
  .sm-7-nl {width: 56.66666%; margin-left: 0px;}
  .sm-8-nl {width: 65.33333%; margin-left: 0px;}
  .sm-9-nl {width: 74%; margin-left: 0px;}
  .sm-10-nl {width: 82.66666%; margin-left: 0px;}
  .sm-11-nl {width: 91.33333%; margin-left: 0px;}
  .sm-12-nl {width: 100%; margin-left: 0px;}
}
@media (max-width: 576px) {
  div[class*="col"]{
    width: 100%;
    margin-left: 0px;
  }
  body{
    font-size: 16px;
  }
  .content {
    padding: 0 2.5%;
    padding-top: calc(50px + 2.5%);
    overflow: hidden;
  }
  .navBar{
    padding: 0;
  }
  .navBar .navBarLinks{
    max-height: 0;
    overflow: hidden;
    float: left;
    width: 100%;
    transition: 0.25s;
  }
  .navBar a{
    display: block;
    line-height: 45px;
    width: 100vw;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 2.5%;
  }
  .navBar a::before{
    border: none;
  }
  .navBar .navBarLogoText{
    display: block;
    line-height: 50px;
    float: left;
    font-size: 27px;
    width: calc(100% - 45px);
    padding-left: 2.5%;
    box-sizing:border-box;
    line-height: 50px;
  }
  .navBarToggle{
    height: 50px;
    width: 45px;
    float: left;
    padding: 15.5px 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .navBarTogglePart{
    background-color: #333;
    width: 25px;
    height: 1px;
    position: relative;
    transition: 0.3s;
  }
  .navBarTogglePart:nth-child(1){
    margin-bottom: 8px;
  }
  .navBarTogglePart:nth-child(2){
    margin-bottom: 8px;
  }
  .active .navBarTogglePart:nth-child(1){
    -webkit-transform: rotate(50deg) translate(0,0);
    transform: translate(0,9px) rotate(-135deg);
  }
  .active .navBarTogglePart:nth-child(2){
    transform: translate(35px,0)
  }
  .active .navBarTogglePart:nth-child(3){
    -webkit-transform: rotate(50deg) translate(0,0);
    transform: translate(0,-9px) rotate(135deg);
  }
}
