body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
div{
  display: block;
  overflow: auto;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

/* Intro Stuff */
.parallax-window{
  height: 100vh;
  background: transparent;
}
.intro{
  margin-left: 8%;
  margin-top: 100px;
}
.introMain{
  color: #00ccce;
  font-size: 60px;
  font-weight: 300;
}
.introP{
  font-size: 40px;
  color: #f9585a;
  font-weight: 300;
}
/* End of intro stuff */'
.content{
  color:#212121;
}
.stuff{
  overflow: hidden;
  color: black;
}
.mainContent{
  font-weight: 300;
  margin:50px auto;
  width: 80%;
  color: white;
  background-color: #f9585a;
  border: 20px solid #f9585a;
  border-radius: 4px;
  font-size: 35px;
  position: relative;
}
.come-in {
  transform: translateY(150px);
  animation: come-in 1.0s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

@media (max-width: 993px) {
  .mainContent{
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .mainContent{
    font-size: 22px;
  }
}
@media (max-width: 560px) {
  .mainContent{
    font-size: 20px;
    font-weight: 400;
  }
  .introMain{
    color: #00ccce;
    font-size: 60px;
    font-weight: 300;
  }
  .introP{
    font-size: 40px;
    color: #f9585a;
    font-weight: 300;
  }
  .intro{
    text-align: center;
    margin-top: 60px;
    margin-left: 0px;
  }
}
