body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #5b5b5b;
}
a{
  color: white;
}
.content{
  margin-top: 52px;
}
.navBar{
  z-index: 10;
  font-size: 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow:0px 2px 5px rgba(0,0,0,0.2);
  background-color: #16a5f9;
  color: #fff;
}
.navBar a.main{
  background-color:  #f9585a;
}
.navBar a{
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: inherit;
}
.navBar a:hover{
  color: #000;
  background-color: #fff;
}
.navBar a.main:hover{
  background-color: #fff;
}
.navIcon{
  width: 50px;
  height: 52px;
  display: none;
  cursor: pointer;
}
.navIconBar{
  width: 25px;
  height: 1px;
  background-color: #fff;
  margin: 7px 12.5px;
  transition: 0.25s;
}
.navIconBarActive .navIconBar{
}
.navIconBar:nth-child(1){
  margin-top: 17px;
}
.navIconBarActive .navIconBar:nth-child(1){
  -webkit-transform: rotate(-45deg) translate(0, 0);
  transform: rotate(45deg) translate(6px,5px);
}
.navIconBarActive .navIconBar:nth-child(2){
  opacity: 0;
}
.navIconBarActive .navIconBar:nth-child(3){
  -webkit-transform: rotate(50deg) translate(0,0);
  transform: rotate(-45deg) translate(6px, -5px);
}
.navBarSlideIn{
  z-index: 9;
  transition: 0.25s;
  font-size: 20px;
  overflow: hidden;
  position: fixed;
  top: -52px;
  width: 100%;
  background-color: #16a5f9;
}
.navBarSlideIn a{
  text-decoration: none;
  padding: 14px 16px;
  color: white;
  display: block;
}
.navBarSlideIn a:hover{
  background-color: white;
  color: black;
}
.text{
  color: white;
  text-decoration: none;
  font-size: 25px;
  background-color: #f9585a;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}
.img img{
  width: 100%;
  border-radius: 0px 0px 6px 6px;
}
.info{
  margin-top: 20px;
  color: white;
  font-size: 24px;
  overflow: auto;
  background-color: #16a5f9;
  border: 10px solid #16a5f9;
  border-radius: 4px;
  text-align: center;
}
.container{
  margin-left: 2.5%;
  margin-right: 2.5%;
  overflow: hidden;
}
.col{
  float: left;
  margin-left: 4%;
  margin-bottom: 4%;
}
@media (min-width: 993px){
  .lg-1 {width: 4.66666%;}
  .lg-2 {width: 13.33333%;}
  .lg-3 {width: 22%;}
  .lg-4 {width: 30.66666%;}
  .lg-5 {width: 39.33333%;}
  .lg-6 {width: 48%;}
  .lg-7 {width: 56.66666%;}
  .lg-8 {width: 65.33333%;}
  .lg-9 {width: 74%;}
  .lg-10 {width: 82.66666%;}
  .lg-11 {width: 91.33333%;}
  .lg-12 {width: 100%;}

  .lg-1-nl {width: 4.66666%; margin-left: 0px;}
  .lg-2-nl {width: 13.33333%; margin-left: 0px;}
  .lg-3-nl {width: 22%; margin-left: 0px;}
  .lg-4-nl {width: 30.66666%; margin-left: 0px;}
  .lg-5-nl {width: 39.33333%; margin-left: 0px;}
  .lg-6-nl {width: 48%; margin-left: 0px;}
  .lg-7-nl {width: 56.66666%; margin-left: 0px;}
  .lg-8-nl {width: 65.33333%; margin-left: 0px;}
  .lg-9-nl {width: 74%; margin-left: 0px;}
  .lg-10-nl {width: 82.66666%; margin-left: 0px;}
  .lg-11-nl {width: 91.33333%; margin-left: 0px;}
  .lg-12-nl {width: 100%;  margin-left: 0px;}
}

@media (max-width: 992px) and (min-width: 768px) {
  .md-1 {width: 4.66666%;}
  .md-2 {width: 13.33333%;}
  .md-3 {width: 22%;}
  .md-4 {width: 30.66666%;}
  .md-5 {width: 39.33333%;}
  .md-6 {width: 48%;}
  .md-7 {width: 56.66666%;}
  .md-8 {width: 65.33333%;}
  .md-9 {width: 74%;}
  .md-10 {width: 82.66666%;}
  .md-11 {width: 91.33333%;}
  .md-12 {width: 100%;}

  .md-1-nl {width: 4.66666%; margin-left: 0px;}
  .md-2-nl {width: 13.33333%; margin-left: 0px;}
  .md-3-nl {width: 22%; margin-left: 0px;}
  .md-4-nl {width: 30.66666%; margin-left: 0px;}
  .md-5-nl {width: 39.33333%; margin-left: 0px;}
  .md-6-nl {width: 48%; margin-left: 0px;}
  .md-7-nl {width: 56.66666%; margin-left: 0px;}
  .md-8-nl {width: 65.33333%; margin-left: 0px;}
  .md-9-nl {width: 74%; margin-left: 0px;}
  .md-10-nl {width: 82.66666%; margin-left: 0px;}
  .md-11-nl {width: 91.33333%; margin-left: 0px;}
  .md-12-nl {width: 100%; margin-left: 0%;}
}

@media (max-width: 768px ) and (min-width: 576px) {
  .sm-1 {width: 4.66666%;}
  .sm-2 {width: 13.33333%;}
  .sm-3 {width: 22%;}
  .sm-4 {width: 30.66666%;}
  .sm-5 {width: 39.33333%;}
  .sm-6 {width: 48%;}
  .sm-7 {width: 56.66666%;}
  .sm-8 {width: 65.33333%;}
  .sm-9 {width: 74%;}
  .sm-10 {width: 82.66666%;}
  .sm-11 {width: 91.33333%;}
  .sm-12 {width: 100%;}

  .sm-1-nl {width: 4.66666%; margin-left: 0px;}
  .sm-2-nl {width: 13.33333%; margin-left: 0px;}
  .sm-3-nl {width: 22%; margin-left: 0px;}
  .sm-4-nl {width: 30.66666%; margin-left: 0px;}
  .sm-5-nl {width: 39.33333%; margin-left: 0px;}
  .sm-6-nl {width: 48%; margin-left: 0px;}
  .sm-7-nl {width: 56.66666%; margin-left: 0px;}
  .sm-8-nl {width: 65.33333%; margin-left: 0px;}
  .sm-9-nl {width: 74%; margin-left: 0px;}
  .sm-10-nl {width: 82.66666%; margin-left: 0px;}
  .sm-11-nl {width: 91.33333%; margin-left: 0px;}
  .sm-12-nl {width: 100%; margin-left: 0px;}
}
@media (max-width: 576px) {
  div[class*="col"]{
    width: 100%;
    margin-left: 0px;
  }
  .text{
    font-size: 21px;
    padding: 7px;
  }
  .navBarSlideIn.navBarSlideInActive{
    top: 52px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.2);
  }
  .navBar.responsive{
    box-shadow: none;
  }
  .navBar a:not(.main) {
    display: none;
  }
  .navBar .navIcon {
    float: right;
    display: inline-block;
  }
  .navBar.responsive .navIcon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .navBar.responsive a.main{
    float: none;
    display: block;
    text-align: left;
  }
  .info{
    font-size: 18px;
  }
}
