<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Products</title>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/business.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
  </head>
  <body>
    <div class="navBar" id="navBar">
      <a href="/websites/business" class="main">Home</a>
      <a href="#">Products</a>
      <div class="navIconButton" onclick="navBar()">
        <div class="navIconBar"></div>
        <div class="navIconBar"></div>
        <div class="navIconBar"></div>
      </div>
    </div>
    <div class="content" onclick="focusContent()">
      <div class="container" id="content">
        <div class="item1 col lg-4-nl md-6-nl sm-12-nl">
          <div class="itemImg">
            <img src="/images/Screws.jpg" alt="">
          </div>
          <div class="descriptionOfItem">
            <h2>Screws</h2>
            <hr>
            <p>In hac habitasse platea dictumst. Donec scelerisque mauris sit amet quam laoreet varius. Maecenas efficitur. </p>
          </div>
        </div>
        <div class="item1 col lg-4 md-6 sm-12-nl">
          <div class="itemImg">
            <img src="/images/milling.jpg" alt="">
          </div>
          <div class="descriptionOfItem">
            <h2>Milling</h2>
            <hr>
            <p>In hac habitasse platea dictumst. Donec scelerisque mauris sit amet quam laoreet varius. Maecenas efficitur. </p>
          </div>
        </div>
        <div class="item1 col lg-4 md-6-nl sm-12-nl">
          <div class="itemImg">
            <img src="/images/Screws.jpg" alt="">
          </div>
          <div class="descriptionOfItem">
            <h2>Screws</h2>
            <hr>
            <p>In hac habitasse platea dictumst. Donec scelerisque mauris sit amet quam laoreet varius. Maecenas efficitur. </p>
          </div>
        </div>
        <div class="item1 col lg-4-nl md-6 sm-12-nl">
          <div class="itemImg">
            <img src="/images/milling.jpg" alt="">
          </div>
          <div class="descriptionOfItem">
            <h2>Milling</h2>
            <hr>
            <p>In hac habitasse platea dictumst. Donec scelerisque mauris sit amet quam laoreet varius. Maecenas efficitur. </p>
          </div>
        </div>
        <div class="item1 col lg-4 md-6-nl sm-12-nl">
          <div class="itemImg">
            <img src="/images/Screws.jpg" alt="">
          </div>
          <div class="descriptionOfItem">
            <h2>Screws</h2>
            <hr>
            <p>In hac habitasse platea dictumst. Donec scelerisque mauris sit amet quam laoreet varius. Maecenas efficitur. </p>
          </div>
        </div>
        <div class="item1 col lg-4 md-6 sm-12-nl">
          <div class="itemImg">
            <img src="/images/milling.jpg" alt="">
          </div>
          <div class="descriptionOfItem">
            <h2>Milling</h2>
            <hr>
            <p>In hac habitasse platea dictumst. Donec scelerisque mauris sit amet quam laoreet varius. Maecenas efficitur. </p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/parallax.min.js"></script>
    <script src="/scripts/business.js"></script>
  </body>
</html>
