<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Business</title>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/business.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
  </head>
  <body>
    <div class="navBar" id="navBar">
      <a href="#" class="main">Home</a>
      <a href="/websites/business/products">Products</a>
      <div class="navIconButton" onclick="navBar()">
        <div class="navIconBar"></div>
        <div class="navIconBar"></div>
        <div class="navIconBar"></div>
      </div>
    </div>
    <div class="content" onclick="focusContent()">
      <div class="parallax-window" data-speed="0.7" data-parallax="scroll" data-image-src="/images/business1.jpg">
        <div class="introText">
          <h1>Building Inc</h1>
        </div>
      </div>
      <div class="realContent">
        <div class="people ">
          <div class="person">
            <img src="/images/Business2.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque ex id erat suscipit luctus. - John</p>
          </div>
          <div class="person">

          </div>
        </div>
        <div class="container">
          <div class="info col lg-12-nl md-12-nl sm-12-nl w-">
              <div>
                <h1 class="red">Tortor Efficitur</h1>
                <hr>
                <p>Cras euismod nunc orci, ut eleifend tortor efficitur ut. Proin fringilla aliquam quam eu gravida. Donec egestas lectus orci, ac elementum tortor scelerisque non. Praesent at faucibus enim. Nam pretium purus eu dui gravida facilisis. Cras a quam dolor. Pellentesque placerat dictum metus quis egestas.</p>
                <h1 class="red">Orci</h1>
                <hr>
                <p> Sed et nisi varius, tristique lacus sit amet, blandit lectus. Vivamus quis condimentum enim. Nulla porttitor dignissim tortor, sed cursus orci imperdiet id. Nulla a magna mi. Quisque vulputate tristique tortor non scelerisque. </p>
              </div>
          </div>
        </div>
        <div class="footer">
          <hr>
          <p>Company Group &copy;</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/parallax.min.js"></script>
    <script src="/scripts/business.js"></script>
  </body>
</html>
