<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Framwork</title>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/business.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="navBar" id="navBar">
      <a href="/websites" class="main">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <div class="navIcon" onclick="navBar(this)">
        <div class="navIconBar"></div>
        <div class="navIconBar"></div>
        <div class="navIconBar"></div>
      </div>
    </div>
    <div class="navBarSlideIn" id="navBarSlideInid">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="content" onclick="focusContent()">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tincidunt eros. Quisque viverra sollicitudin lorem sit amet sodales. Donec rutrum pretium nisi, eu pellentesque libero blandit sed. Aenean ex massa, venenatis sed nisl vitae, faucibus ullamcorper urna. Phasellus luctus euismod dui et fringilla. Nulla accumsan, dolor at porttitor lacinia, risus ante rhoncus tortor, ullamcorper congue augue mi vitae sapien. Fusce gravida ex id felis euismod, eget pellentesque neque pretium. Nullam orci sem, ullamcorper sed mattis sed, sollicitudin id lacus.</p>
    </div>
    <script type="text/javascript" src="/scripts/business.js"></script>
  </body>
</html>
