<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coffee Shop</title>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/coffeeShop.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="navbar">
      <div class="navBarLinkContainer">
        <a href="/" class="navbarLinkMod material-icons" child='1'>home</a>
        <p>Home</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="/websites" class="navbarLinkMod material-icons" child='2'>dashboard</a>
        <p>Websites</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="/contact" class="navbarLinkMod material-icons" child='3'>email</a>
        <p>Contact</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="javascript:void(0)" class="navbarLinkMod fa fa-instagram" style="font-size: 24px" child='4'></a>
        <p>Instaram</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="javascript:void(0)" class="navbarLinkMod fa fa-facebook" style="font-size: 24px" child='5'></a>
        <p>Facebook</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="javascript:void(0)" class="navbarLinkMod fa fa-twitter" style="font-size: 24px" child='6'></a>
        <p>Twitter</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="javascript:void(0)" class="navbarLinkMod fa fa-google" style="font-size: 24px" child='7'></a>
        <p>Google</p>
      </div>
    </div>
    <div class="content">
      <div class="intro">
        <div class="introText">
              <p>Lorem Ipsum</p>
            <!-- <div class="introTextAnimation2">
              <p>De Fresh Amait</p>
            </div> -->
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/scripts/coffeeShop.js"></script>
  </body>
</html>
