<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coffee Shop</title>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/coffeeShop.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="navbar">
      <div class="navBarLinkContainer">
        <a href="/" class="navbarLinkMod material-icons" child='1'>home</a>
        <p>Home</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="/websites" class="navbarLinkMod material-icons" child='2'>dashboard</a>
        <p>Websites</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="/contact" class="navbarLinkMod material-icons" child='3'>email</a>
        <p>Contact</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="javascript:void(0)" class="navbarLinkMod fa fa-instagram" style="font-size: 24px" child='4'></a>
        <p>Instaram</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="javascript:void(0)" class="navbarLinkMod fa fa-facebook" style="font-size: 24px" child='5'></a>
        <p>Facebook</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="javascript:void(0)" class="navbarLinkMod fa fa-twitter" style="font-size: 24px" child='6'></a>
        <p>Twitter</p>
      </div>
      <div class="navBarLinkContainer">
        <a href="javascript:void(0)" class="navbarLinkMod fa fa-google" style="font-size: 24px" child='7'></a>
        <p>Google</p>
      </div>
    </div>
    <div class="mobileNavBar">
      <a href="/">Home</a>
      <a href="/websites">Websites</a>
      <a href="/contact">Contact</a>
      <a href="javascript:void(0)">Instagram</a>
      <a href="javascript:void(0)">Facebook</a>
      <a href="javascript:void(0)">Twitter</a>
      <a href="javascript:void(0)">Google</a>
    </div>
    <div class="mobileNavBarToggle">
      <div class="mobileNavBarToggleDiv">
        <div class="mobileNavBarTogglePart"></div>
        <div class="mobileNavBarTogglePart"></div>
        <div class="mobileNavBarTogglePart"></div>
      </div>
    </div>
    <div class="content">
      <div class="intro">
        <div class="introText">
              <p>Coffee Shop</p>
            <!-- <div class="introTextAnimation2">
              <p>De Fresh Amait</p>
            </div> -->
        </div>
        <div class="introScrollDownAnimation">
          <div class="introScrollDiv"></div>
          <div class="introScrollDiv"></div>
        </div>
      </div>
      <div class="textContent">
        <div class="paralaxInfo">
          <div class="textBox">
            <h2>Sit Amet</h2>
            <p>Integer quis odio rhoncus, sagittis est in, sagittis mi. Nam at tempus sem. Aliquam et pharetra ex. Nullam efficitur, quam ut molestie dictum, dolor lacus hendrerit nisi, non mollis tellus arcu non ex. Morbi dignissim metus tellus, non tincidunt sem sollicitudin at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer vestibulum diam ipsum, malesuada dictum ex lacinia sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce at tortor maximus, semper libero eget, volutpat sem. Curabitur a tortor non odio tristique convallis.</p>
          </div>
        </div>
        <div class="realContentBackground">
          <div class="realContent container">
            <div class="textPieces col lg-7-nl md-7-nl sm-7-nl">
              <div class="textPiece">
                <h3>Odio Rhoncus</h3>
                <p>Nulla sapien ex, congue ut leo quis, vestibulum suscipit tortor. Donec molestie mi vitae condimentum cursus. Vivamus efficitur tellus eget euismod malesuada.</p>
              </div>
              <div class="textPiece">
                <h3>Mauris pretium</h3>
                <p>Proin vel augue consequat, efficitur elit et, eleifend est. Sed molestie arcu vel erat elementum fringilla. Mauris pretium, tellus mattis finibus auctor, ex risus venenatis metus, nec consequat lorem massa ac risus.</p>
              </div>
              <div class="textPiece">
                <h3>Donec</h3>
                <p>Mauris pretium, tellus mattis finibus auctor, ex risus venenatis metus. Sed molestie arcu vel erat elementum fringilla.</p>
              </div>
              <div class="textPiece lastNoMarginBot">
                <h3>Duis</h3>
                <p>Pellentesque imperdiet justo sit amet elementum fringilla. Donec in pharetra turpis. Donec bibendum enim non tortor pharetra mollis.</p>
              </div>
            </div>
            <div class="peopleQuotes col lg-5 md-5 sm-5">
              <div class="faceBox">
                <div class="faceBoxImg"  id="face1"></div>
                <p>"Sed molestie arcu vel erat elementum fringilla."</p>
                <p>- April</p>
              </div>
              <div class="faceBox">
                <div class="faceBoxImg"  id="face2"></div>
                <p>"Sed molestie arcu vel erat elementum fringilla."</p>
                <p>- Jane</p>
              </div>
              <div class="faceBox">
                <div class="faceBoxImg"  id="face3"></div>
                <p>"Sed molestie arcu vel erat elementum fringilla."</p>
                <p>- Bobby</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/scripts/coffeeShop.js"></script>
  </body>
</html>
