<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Compute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/compute.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
    <title>Compute</title>
  </head>
  <body>
    <div id="intro">
      <h1>The age of man has passed</h1>
    </div>
    <div id="content">
      <div class="container">
        <div class="resourceBox col lg-12-nl md-12-nl sm-12-nl">
          <p id="money">Money: </p>
          <p id="computationRate">Compution Rate: </p>
          <p id="researchResource">Research: </p>
        </div>
        <div class="shop col lg-12-nl md-12-nl sm-12-nl">
          <div class="container" style="margin: 0">
            <div class="shop1 col lg-6-nl md-6-nl sm-12-nl" style="margin: 0">
              <div class="shopItem">
                <p class="shopItemLabel" id="computationRateUpgrade"></p>
                <p class="shopItemPrice" id="computationRateUpgradePrice"></p>
              </div>
              <div class="shopItem" id="purchaseComputationInstanceDiv">
                <p class="shopItemLabel" id="purchaseComputationInstance">Computation Instance</p>
                <p class="shopItemPrice" id="purchaseComputationInstancePrice"></p>
              </div>
            </div>
            <div class="shop2 col lg-6 md-6 sm-12-nl" style="margin: 0">
              <div class="shopItem" id="upgradeModuleDiv">
                <p class="shopItemLabel" id="purchaseUpgradeModule"></p>
                <p class="shopItemPrice" id="upgradeModulePrice"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col lg-5-nl md-5-nl sm-6-nl" id="systemCompute">
          <div id="systemComputeWork">
            <div class="systemComputeWorkMod" id="compute1"></div>
            <div class="systemComputeWorkMod" id="compute2"></div>
            <div class="systemComputeWorkMod" id="compute3"></div>
            <div class="systemComputeWorkMod" id="compute4"></div>
          </div>
          <div id="systemComputeCompleteP">
            <div id="systemComputeComplete"></div>
          </div>
          <div class="systemComputeLable">
            <p style="text-align: center">Manual System Compute</p>
          </div>
        </div>
        <div class="col lg-7 md-7 sm-6" id="computeInstanceMod">
          <div id="computeInstancePurchase">
            <p id="computeInstancePrice">5</p>
          </div>
          <div id="computeInstanceDivs">
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>

            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>

            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
            <div class="computeInstance"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="col lg-6-nl md-6-nl sm-6-nl" id="research">
          <div id="researchInnerDiv">
            <div id="researchList">
              <ul style="margin: 0px; overflow: auto; height: 140px;">
                <li class="researchLI" id="computeInstanceModResearchActive">Computation Instances - 23R</li>
              </ul>
            </div>
            <div id="researchPower">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/compute/computeFunctions.js"></script>
    <script type="text/javascript" src="/compute/computePurchase.js"></script>
    <script type="text/javascript" src="/compute/computeMain.js"></script>
  </body>
</html>
