<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Framwork</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/flower.css">
    <link rel="stylesheet" href="/stylesheets/flowerGrid.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="navBar" id="navBar">
      <a href="/" class="main">Home</a>
      <a href="/websites">Websites</a>
      <a href="#">Flower</a>
      <div class="navIcon" id="navIcon" onclick="navBar(this)">
        <div class="navIconBar"></div>
        <div class="navIconBar"></div>
        <div class="navIconBar"></div>
      </div>
    </div>
    <div class="navBarSlideIn" id="navBarSlideInid">
      <a href="/websites">Websites</a>
      <a href="#">Flower</a>
    </div>

    <div class="content" onclick="focusContent()">
      <div class="frostedGlass">
        <div class="frostedGlassText white">
          <p>Happiness radiates like the fragrance from a flower and draws all good things towards you</p>
        </div>
      </div>
      <div class="container">
        <div class="col lg-12-nl md-12-nl sm-12-nl textBoxWithPicture">
          <div class="textBoxImage"></div>
          <div class="textBoxHorzontalRule"></div>
          <div class="textBoxText">
            <h2>Lorem ipsum</h2>
            <hr>
            <div class="textBoxParagraph">
              <p>Mauris sapien eros, luctus ac augue nec, venenatis rutrum elit. Nullam facilisis nec mi nec tristique. Vivamus mi mi, pharetra a malesuada at, dictum sed ipsum. Integer pulvinar sem nec eleifend laoreet. Aenean eu orci at sapien condimentum posuere eget non purus. Aenean gravida at nulla non porta. Mauris dapibus mi pulvinar elementum fringilla.</p>
            </div>
          </div>
        </div>
        <div class="col lg-12-nl md-12-nl sm-12-nl textBoxWithPicture">
          <div class="textBoxImage"></div>
          <div class="textBoxHorzontalRule"></div>
          <div class="textBoxText">
            <h2>Lorem ipsum</h2>
            <hr>
            <div class="textBoxParagraph">
              <p>Mauris sapien eros, luctus ac augue nec, venenatis rutrum elit. Nullam facilisis nec mi nec tristique. Vivamus mi mi, pharetra a malesuada at, dictum sed ipsum. Integer pulvinar sem nec eleifend laoreet. Aenean eu orci at sapien condimentum posuere eget non purus. Aenean gravida at nulla non porta. Mauris dapibus mi pulvinar elementum fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/flower.js"></script>
  </body>
</html>
