<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/glass.css">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta charset="utf-8">
    <title>Glass</title>
  </head>
  <body>
    <div class="content">
      <div class="navBar container">
        <div class="link glass col lg-3-nl md-3-nl sm-3-nl">
          <a href="/">Home</a>
        </div>
        <div class="link glass col lg-3 md-3 sm-3">
          <a href="/websites">Websites</a>
        </div>
        <div class="link glass col lg-3 md-3 sm-3">
          <a href="/websites/flower">Flower</a>
        </div>
        <div class="link glass col lg-3 md-3 sm-3">
          <a href="#">Glass</a>
        </div>
      </div>
    </div>
  </body>
</html>
