<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/glass.css">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Glass</title>
  </head>
  <body>
    <div class="navBar">
      <a class="navBarLogoText" href="/websites/homeDetail">HD</a>
      <div class="navBarToggle" onclick="navBar()">
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
      </div>
      <div class="navBarLinks" id="navBarLinks">
        <a href="/">Home</a>
        <a href="/websites">Websites</a>
        <a href="/contact">Contact</a>
        <a href="/services">Services</a>
      </div>
    </div>
      <div class="content" onclick="focusContent()">
      <div class="tempNav container">
        <div class="link glass col lg-3-nl md-3-nl sm-3-nl noglass">
          <a href="/">Home</a>
        </div>
        <div class="link glass col lg-3 md-3 sm-3 noglass">
          <a href="/websites">Websites</a>
        </div>
        <div class="link glass col lg-3 md-3 sm-3 noglass">
          <a href="/contact">Contact</a>
        </div>
        <div class="link glass col lg-3 md-3 sm-3 noglass">
          <a href="/services">Services</a>
        </div>
      </div>
      <div class="realContent container">
          <div class="glass col lg-8-nl md-8-nl sm-8-nl">
            <h2>Lorem ipsum</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dapibus erat, a aliquam justo. Sed vulputate sapien sed hendrerit vehicula. Maecenas et faucibus magna. Maecenas commodo convallis cursus. Donec tincidunt iaculis mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac pharetra dui. Suspendisse facilisis sollicitudin risus, vitae scelerisque mi rhoncus in. Phasellus urna quam, egestas a lacinia sed, luctus at mi. In arcu justo, varius eget sagittis quis, fermentum nec neque. Sed accumsan dolor risus, eu tristique lacus pretium eu. Aenean egestas ante at augue volutpat pellentesque. Vestibulum auctor metus velit, non rhoncus massa efficitur non. Ut rhoncus dui orci, sed ultrices tortor dapibus sed.</p>
          </div>
          <div class="glass col lg-4 md-4 sm-4">
            <h3>Aenen</h3>
            <hr>
            <ol>
              <li>Varus</li>
              <li>Fermentum</li>
              <li>Neq</li>
              <li>Risus</li>
              <li>Lacus</li>
              <li>Hendrerit</li>
              <li>Piosit</li>
              <li>Consectetur</li>
              <li>Pasta</li>
              <li>Comendist</li>
              <li>Amet</li>
              <li>Lacus</li>
              <li>Hendrerit</li>
              <li>Piosit</li>
            </ol>
          </div>
      </div>
      <div class="container">
        <div class="glass col lg-5-nl md-5-nl sm-5-nl">
          <p>Suspendisse venenatis felis eget quam iaculis interdum. Vestibulum id commodo libero. Proin venenatis purus nec augue fermentum, non accumsan erat iaculis. Aenean metus eros, suscipit eu ipsum nec, egestas laoreet metus. Nullam sit amet nulla risus. Integer rutrum ligula vel facilisis placerat. Quisque nec scelerisque lacus.</p>
        </div>
        <div class="glass col lg-7 md-7 sm-7">
          <p>Nullam sed gravida justo, at fringilla neque. Duis id elementum tortor. Donec ullamcorper ultrices odio, fringilla mollis libero dignissim at. Vivamus ornare aliquam ligula, nec egestas arcu egestas ac. Vivamus iaculis fermentum magna. Nunc ut enim et massa fringilla rutrum. Etiam venenatis, urna ac malesuada hendrerit, nisl felis bibendum mi, ut condimentum erat eros at purus. Aliquam tincidunt ipsum sit amet ullamcorper commodo. Donec turpis nunc, aliquet sed feugiat in, tincidunt ut est. Phasellus vitae aliquet nisi.</p>
        </div>
      </div>
      <div class="realContent container">
          <div class="glass col lg-8-nl md-8-nl sm-8-nl">
            <h2>Lorem ipsum</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dapibus erat, a aliquam justo. Sed vulputate sapien sed hendrerit vehicula. Maecenas et faucibus magna. Maecenas commodo convallis cursus. Donec tincidunt iaculis mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ac pharetra dui. Suspendisse facilisis sollicitudin risus, vitae scelerisque mi rhoncus in. Phasellus urna quam, egestas a lacinia sed, luctus at mi. In arcu justo, varius eget sagittis quis, fermentum nec neque. Sed accumsan dolor risus, eu tristique lacus pretium eu. Aenean egestas ante at augue volutpat pellentesque. Vestibulum auctor metus velit, non rhoncus massa efficitur non. Ut rhoncus dui orci, sed ultrices tortor dapibus sed.</p>
          </div>
          <div class="glass col lg-4 md-4 sm-4">
            <h3>Aenen</h3>
            <hr>
            <ol>
              <li>Varus</li>
              <li>Fermentum</li>
              <li>Neq</li>
              <li>Risus</li>
              <li>Lacus</li>
              <li>Hendrerit</li>
              <li>Piosit</li>
              <li>Consectetur</li>
              <li>Pasta</li>
              <li>Comendist</li>
              <li>Amet</li>
              <li>Lacus</li>
              <li>Hendrerit</li>
              <li>Piosit</li>
            </ol>
          </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/glass.js">

    </script>
  </body>
</html>
