<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/onePage.css">
    <title>Single Page</title>
  </head>
  <body>

    <div class="navBar">
      <p class="brand noMobile">Lorem Ipsum</p>
      <a href="#">Nulla</a>
      <a href="#">Fugiat</a>
      <a href="#">Purus</a>
      <a href="#">Ante</a>
    </div>
    <div class="intro">
      <p>consectetur adipiscing elit</p>
      <p>sed tincidunt orci</p>
      <p>sit amet</p>
    </div>

    <div class="content">
      <div class="container">
        <div class="col lg-6-nl md-6-nl sm-12-nl">
          <h2>Dignissim</h2>
          <p>Praesent dolor dui, dignissim eget quam vel, semper viverra mi. Phas ellus placerat magna volut pat, conse ctetur quam a, rutrum nibh.</p>
        </div>
        <div class="col lg-6 md-6 sm-12-nl">
          <h2>Pellentesques</h2>
          <p>Praesent dolor dui, dign issim eget quam vel, semper viver ra mi. Phase llus placerat magna volutpat, conse ctetur quam a, rutrum nibh.</p>
        </div>
        <div class="col lg-6-nl md-6-nl sm-12-nl">
          <h2>Morbi</h2>
          <p>Nulla justo orci, varius a dapibus non, rutrum ut quam. Praesent sodales nibh non velit aliquam auctor. Donec tempus risus at diam commodo sagittis.</p>
        </div>
        <div class="col lg-6 md-6 sm-12-nl">
          <h2>Mauris</h2>
          <p>Sed euismod sit amet sapien ut vestibulum. Mauris placerat condimentum rutrum. Curabitur volutpat accumsan lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse scelerisque nisi magna, non mollis sapien pretium nec. Etiam ullamcorper gravida arcu at dictum.</p>
        </div>
        <div class="col lg-6-nl md-6-nl sm-12-nl">
          <h2>Morbi</h2>
          <p>Nulla justo orci, varius a dapibus non, rutrum ut quam. Praesent sodales nibh non velit aliquam auctor. Donec tempus risus at diam commodo sagittis.</p>
        </div>
        <div class="col lg-6 md-6 sm-12-nl">
          <h2>Mauris</h2>
          <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse scelerisque nisi magna, non mollis sapien pretium nec. Etiam ullamcorper gravida arcu at dictum.</p>
        </div>
      </div>
      <div class="container">
        <div class="footer">
          <p>A Company Group &#xa9;</p>
        </div>
      </div>
    </div>
  </body>
</html>
