<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/paralax.css">
    <title>Paralax Photography</title>
  </head>
  <body>
    <div class="parallax one">
      <p>Your Name</p>
    </div>
    <div class="content">
      <p>My name is blank and I like to take photos. I'm really good at it and I would like to do this as a job. Hire me!</p>
    </div>
    <div class="parallax two">
      <p>Photography</p>
    </div>
    <div class="content">
      <p>My name is blank and I like to take photos. I'm really good at it and I would like to do this as a job. Hire me!</p>
    </div>
    <div class="parallax three">
      <p>Artistic Expression</p>
    </div>
    <div class="content">
      <p>My name is blank and I like to take photos. I'm really good at it and I would like to do this as a job. Hire me!</p>
    </div>
    <div class="parallax four">
      <p>Contact</p>
    </div>
  </body>
</html>
