<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Jax Tubbs Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/photography.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/Logo.png">
    <link rel="apple-touch-icon" href="/images/Logo.png">
    <link rel="icon" type="image/png" href="/images/Logo.png">
  </head>
  <body>
    <div class="everything">
      <div class="fullcover">
        <div class="parallax-window" data-parallax="scroll" data-image-src="/images/darkRock.jpg" data-speed="0.4">
          <div class="fullcoverText">
            <p class="up">L</p>
            <p class="down">O</p>
            <p class="up">R</p>
            <p class="down">E</p>
            <p class="up">M</p>
          </div>
        </div>
      </div>
      <div class="fullcover">
        <div class="parallax-window" data-parallax="scroll" data-image-src="/images/darkRock.jpg" data-speed="0.3">
          <p>Lorem Ipsum</p>
        </div>
      </div>
      <div class="">

      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/parallax.min.js"></script>
    <script type="text/javascript" src="/scripts/photography.js"></script>
  </body>
</html>
